.main_color{
    color: #084f09;
}
.secondary_color{
    color: #84B17F;
}
.bg_main{
    background-color: #084f09;
}
.bg_secondary{
    background-color: #84B17F;
}
.bg_grey{
    background-color:#F6F6F6 ;
}