.main-color{
    color: #084f09;
}
.secondary-color{
    color: #84B17F;
}
.bg-main{
    background-color: #084f09;
}
.bg-secondary{
    background-color: #84B17F;
}
.bg-grey{
    background-color:#F6F6F6 ;
}