.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.between{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.gap-10{
    gap:10px;
}
.gap-20{
    gap:20px;
}
.gap-30{
    gap:30px;
}
.full-w{
    width: 100%;
}
.full-h{
    height: 100%;
}
.half-w{
    width: 50%;
}
.half-h{
    width: 50%;
}