.search {
  width: 400px;
  height: 40px;
}
.search-input {
  background-color: #f6f6f6;
  height: 100%;
  width: 90%;
  border-radius: 30px 0px 0px 30px;
}
.search-icon {
  background-color: #aaa9a9;
  width: 10%;
  height: 100%;
  color: white;
  cursor: pointer;
  border-radius: 0px 30px 30px 0px;
}

/* body css  */

.investor-businesses-container {
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;

}

/* left card  */
.investor-business-card {
  width: 60%;
  height: 250px;
  border-radius: 0px 30px 30px 0px;
  background-color: #84b17f;
  border: 1px black solid;
}

.investor-business-img img {
  height: 100%;
  width: 100%;
  border-radius: 0px 20px 20px 0px;
}
.investor-business-description {
  position: relative;
  color: white;
  width: 65%;
  height: 100%;

}
.investor-business-button{

  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.investor-business-button button {
  height: 35px;
  width: 130px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  
}
.investor-business-button button:hover {
  background-color: white;
  color: #84b17f;
}

/* right  */
.investor-business-card-right {
  width: 60%;
  height: 250px;
  border-radius: 30px 0px 0px 30px;
  background-color: #f6f6f6;
  border: 1px black solid;
  float: right;
  margin-left: auto;

}
.investor-business-img {
  height: 100%;
  width: 30%;
}
.investor-business-img-right img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
}
.investor-business-description-right {
  color: black;
  width: 70%;
  height: 100%;
}
.investor-business-button-right{
  height: 35px;
  width: 130px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  background-color: transparent;
  color: #84b17f;
  cursor: pointer;
  border: 1px #84b17f solid;
}
.investor-business-button-right:hover {
  background-color: #84b17f;
  color: white;
}