.schedule-container{
    
    width: 80%;
    height: 100vh;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    height: 50px;
  }
  th {
    background-color: #84B17F;
    text-align: left;
  }
  