.investor-container {
  width: 100%;
}
.complete-profile-nav {
  height: 80px;
  border-bottom: 1px solid grey;
}
.logout-nav-button {
  height: 50px;
  width: 100px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  background-color: transparent;
  color: #084f09;
  cursor: pointer;
}
.complete-profile-form {
  background-color: #f0f0f0;
  width: 70%;
  height: fit-content;
  border-radius: 20px;
  
}
.complete-profile-info {
  width: 100%;
}
.complete-profile-info input {
  width: 250px;
  height: 30px;
  border-radius: 7px;
}
.investment-range{
    width:100%;
    gap:50px;
}
