.user-container {
  min-height: 100vh;
  background-color: white;
}
.user-sidebar {
  width: 20%;
  min-height: 100%;
  background-color: #084f09;
  color: white;
}
.bottom-border {
  border-bottom: 3px solid black;
}

.user-sidebar-navigation {
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;
}
.page-shown {
  background-color: #84b17f;
}
.user-sidebar-logout {
  margin-top: auto;
  padding: 7px;
  border-top: 3px solid black;
}
.logout-icon {
  cursor: pointer;
}
.logout-icon:hover {
  background-color: white;
  color: #084f09;
  border-radius: 5px;
}
